body{
display: flex;
justify-content: center;
background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}
h1{
margin-left: 1em;
margin-right: 1em;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
max-width: 30em;
height:30em;
margin: 1em;
font-family: 'Oswald', sans-serif;
font-weight: 600;
color: wheat;
border-radius: 0.5em;
}
.insertData{
display: flex;
flex-direction: column;
justify-content:space-between;  
align-items: center;
padding: 0.5em;
}
.titleInput{
padding: 0.2em;
}
#button{
margin: 2em;
font-family: 'Oswald', sans-serif;
font-weight: 600;
color: wheat;
background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgb(25, 188, 248) 100.2% );
border: none;
border-radius: 0.2em;
}
#result{
color: wheat;
font-family: 'Oswald', sans-serif;
font-weight: 600;
background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgb(25, 188, 248) 100.2% );
border-radius: 0.3em;
}
input{
background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgb(25, 188, 248) 100.2% );
color: wheat;
border: none;
border-radius: 0.3em;
height: 2em;

}
/*A estilização do placeholder foi alterada*/
::-webkit-input-placeholder{
color: wheat;
}
